---
import { Button } from '~/components/ui/button'
import Link from './Link.astro'

const links = [
  { name: 'Home', href: '/', icon: 'i-ph:house-duotone' },
  { name: 'Projects', href: '/projects', icon: 'i-ph:desktop-duotone' },
]

const socialLinks = [
  {
    href: '/resume',
    icon: 'i-ph:identification-card-duotone',
    label: 'Resume',
  },
  {
    href: 'https://github.com/rettend',
    icon: 'i-ph:github-logo-duotone',
    label: 'GitHub',
  },
  {
    href: 'https://x.com/rettend1',
    icon: 'i-ph:x-logo-duotone',
    label: 'Twitter',
  },
]
---

<header class="fixed top-0 left-0 right-0 z-50 backdrop-pixelate bg-gradient-to-b from-background/80 to-transparent">
  <nav class="mx-auto flex h-20 max-w-7xl items-center justify-between px-8">
    <Button client:load variant="glow" as="a" href="/" class="text-xl hidden sm:inline-flex">Rettend</Button>
    <div class="flex items-center gap-8">
      <ul class="hidden sm:flex items-center gap-4">
        {
          links.map((link) => (
            <li>
              <Button client:load as="a" href={link.href} variant="split" class="px-2 text-lg font-medium">
                {link.name}
              </Button>
            </li>
          ))
        }
      </ul>
      <div class="flex items-center gap-2">
        {
          socialLinks.map((social) => (
            <Link
              href={social.href}
              variant="glow"
              size="icon"
              title={social.label}
              external={social.href.startsWith('http')}
            >
              <span class={`${social.icon} size-5`} />
              <span class="sr-only">{social.label}</span>
            </Link>
          ))
        }
      </div>
    </div>
    <ul class="flex sm:hidden items-center gap-2">
      {
        links.map((link) => (
          <li>
            <Button
              client:load
              as="a"
              href={link.href}
              variant="glow"
              size="icon"
              class="op-80 hover:op-100"
              title={link.name}
            >
              <span class={`${link.icon} size-5`} />
              <span class="sr-only">{link.name}</span>
            </Button>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
