---
import LinkButton from '~/components/LinkButton'
import Link from '~/components/Link'
import { navbarSocialLinks } from '~/lib/constants'

const links = [
  { name: 'Home', href: '/', icon: 'i-ph:house-duotone' },
  { name: 'Projects', href: '/projects', icon: 'i-ph:desktop-duotone' },
]
---

<header class="fixed top-0 left-0 right-0 z-50 backdrop-pixelate bg-gradient-to-b from-background/80 to-transparent">
  <nav class="mx-auto flex h-20 max-w-7xl items-center justify-between px-8">
    <Link variant="glow" href="/" class="text-xl hidden sm:inline-flex">Rettend</Link>
    <div class="flex items-center gap-8">
      <ul class="hidden sm:flex items-center gap-4">
        {
          links.map((link) => (
            <li>
              <LinkButton client:load href={link.href} variant="split" class="px-2 text-lg font-medium">
                {link.name}
              </LinkButton>
            </li>
          ))
        }
      </ul>
      <div class="flex items-center gap-2">
        {
          navbarSocialLinks.map((social) => (
            <Link
              href={social.href}
              external={social.href.startsWith('http')}
              variant="glow"
              size="icon"
              title={social.label}
            >
              <span class={`${social.icon} size-5`} />
              <span class="sr-only">{social.label}</span>
            </Link>
          ))
        }
      </div>
    </div>
    <ul class="flex sm:hidden items-center gap-2">
      {
        links.map((link) => (
          <li>
            <Link href={link.href} variant="glow" size="icon" title={link.name}>
              <span class={`${link.icon} size-5`} />
              <span class="sr-only">{link.name}</span>
            </Link>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
